
{% extends "base.html" %}
{% block titulo_page %} Produtos {% endblock %}
{%block conteudo%} 
   
    <table class="table table-bordered table-hover w-75 mx-auto">
        <button type="button" class="btn btn-outline-primary" onclick="location.href=' {% url "formproduto" %}'"><i class="bi bi-plus-lg"></i>Novo produto</button>
        <thead class="thead-dark">
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Descrição</th>
                <th scope="col">Estoque</th>
                <th scope="col">Valor (R$)</th>
                <th scope="col">Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for item in lista %}
                <tr>
                    <td> {{item.id}} </td>
                    <td> {{item.nome}} </td>
                    <td> 10 </td>
                    <td> {{item.preco}} </td>
                    <td> 
                        <button onclick="" class="btn btn-info"> Detalhes </button>
                        <button onclick="" class="btn btn-warning"> Editar </button>
                        <button onclick="" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#excluir"> Excluir </button>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "modal.html" %}
 {% endblock %}

